.container-account-details {
  max-width: 900px;
  margin: auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding-top: 80px;
}

.header-account-details {
  display: flex;
  justify-content: space-between;  
  align-items: center;             
  width: 100%;                    
  margin-bottom: 20px;
}

.headerText {
  font-size: 24px;
  text-align: center; 
  flex-grow: 1;  
}
.logoutButton {
  display: flex;
  align-items: center;
  background-color: #f44336; 
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.logoutButton:hover {
  background-color: #d32f2f; 
}

.logoutButton svg {
  margin-right: 8px;
}


.detailGroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.detailGroup label {
  font-weight: bold;
  flex: 1;
}

.detailGroup p {
  margin: 4px 0;
  flex: 2;
}

.input,
.textarea,
select {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  margin-top: 4px;
  border: 1px solid #ddd;
  border-radius: 4px;
  flex: 2;
}

.editIcon {
  color: #007bff;
  cursor: pointer;
  margin-left: 8px;
}

.editIcon:hover {
  color: #0056b3;
}

.actions {
  display: flex;
  justify-content: space-between;
}

.profileSection {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profilePhotoWrapper {
  position: relative;
}

.profilePhoto {
  width: 150px; 
  height: 150px; 
  border-radius: 50%; 
  object-fit: cover; 
  border: 2px solid #ccc;
}

.editProfilePhoto {
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}

.fileInput {
  display: none; 
}

.nameSection {
  margin-left: 20px;
}