@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Dongle&display=swap');
* {
  font-family: "Dongle", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.125rem;
}
h1, h2, h3, h4, h5, h6 {
  font-size: 1.2em; 
}

button {
  font-size: 1rem; 
}

:root {
  --font-color: #d10f0f; 
  --background-color: #2b2edf; 
}

body {
  font-family: "Dongle", sans-serif; 
  font-size: 16px;
  color: var(--font-color);
  background-color: var(--background-color);;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #007BFF;
  padding: 10px 20px;
  color: white;
  font-size: 20px;
}

footer {
  margin-top: auto;
  background-color: transparent;
  color: white;
  text-align: center;
  padding: 20px;
}

h1 {
  color: #007BFF;
}