.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #007BFF;
  padding: 10px 20px;
  color: white;
  font-size: 20px;
}

footer {
  margin-top: auto;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}

h1 {
  color: #007BFF;
}