@import 'variables.css';

.create-account-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: var(--darkgreen);
  box-sizing: border-box;
}

.create-account-box {
  width: 100%;
  max-width: 400px;
  background-color: white;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 30px;
}

h2 {
  /* color: #333; */
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
}

.input-group.name-group {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.input-group.name-group .input-group {
  flex: 1;
}

.input-group label {
  font-size: 14px;
  color: #666;
  display: block;
}

.input-group input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.input-group input:focus {
  border-color: #2a411c;
}

.create-account-btn {
  width: 100%;
  padding: 12px;
  background-color: #2a411c;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 15px;
}

.password-links {
  font-size: 14px;
  color: #666;
  text-align: right;
  padding-top: 5px;
}

.login-links {
  font-size: 14px;
  color: #666;
}

.create-account-btn:hover {
  background-color: #7ab456;
}

.error-message {
  color: var(--coral);
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: bold;
} 

.create-account-stalls {
  position: relative;
  bottom: auto;
    bottom: 0;
    left: 0;
    width: 100%; 
    object-fit: contain; 
}

.radio-group {
    display: flex;
    gap: 10px; 
    margin-top: 5px;
  }
  
  .radio-group label {
    font-size: 14px;
    color: #666;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
.input-group select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

@media (max-width: 768px) {
  .create-account-box {
    width: 90%;
    padding: 20px;
  }

  h2 {
    font-size: 24px;
  }

  .input-group input {
    font-size: 14px;
  }

  .create-account-btn {
    font-size: 14px;
  }
}