@import 'variables.css';

body{
  color: #534757;
  font-family: "Dongle", sans-serif; 
}

.create-account-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: var(--darkgreen);
  box-sizing: border-box;
}

.create-account-box {
  width: 100%;
  max-width: 400px;
  background-color: white;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 30px;
}



.input-group {
  margin-bottom: 15px;
  text-align: left;
}

.input-group.name-group {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: -5px;
}

.input-group.name-group .input-group {
  flex: 1;
}

.input-group label {
  font-size: 35px;
  display: block;
  margin-bottom: -8px;
  color: #534757;
}

.input-group input {
  font-family: "Dongle", sans-serif;
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  font-size: 30px;
  border: 1px solid #979797;
  border-radius: 4px;
}

.input-group input:focus {
  border-color: #2a411c;
}

.create-account-btn {
  font-family: "Dongle", sans-serif;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #2a411c;
  color: white;
  border: none;
  font-size: 30px;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 15px;
}

.password-links {
  font-size: 25px;
  text-align: right;
  padding-top: 5px;
}

.password-label-container {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin-bottom: 8px;
}


.password-requirements-btn {
  padding: 5px 10px;
  background-color: var(--darkgreen);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.login-links {
  font-size: 30px;
}

.create-account-btn:hover {
  background-color: #7ab456;
}

.error-message {
  color: var(--coral);
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: bold;
} 

.create-account-stalls {
  position: relative;
  bottom: auto;
    bottom: 0;
    left: 0;
    width: 100%; 
    object-fit: contain; 
}

.radio-group {
    display: flex;
    gap: 10px; 
    margin-top: 0px;
  }
  
  .radio-group label {
    font-size: 30px;
    display: flex;
    align-items: last baseline;
    gap: 10px;
  }
  
.input-group select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  .location-pref-dropdown, .visit-time-dropdown, .stall-name-dropdown {
    font-size: 30px;
  }


  .add-stall-link {
    color: var(--darkgreen);
    text-decoration: underline;
    cursor: pointer;
    font-size: 30px;
  }
  
  .new-stall-form {
    border: 2px solid var(--darkgreen);
    padding: 10px;
    margin-top: 10px;
    background-color: var(--lightgreen); 
    margin-bottom: 40px;
    border-radius: 25px;
  }
  
  .new-stall-form h3 {
    padding: 10px; 
    font-size: 35px;
    font-weight: bold;
  }

  .new-stall-form-save-btn{
    font-family: "Dongle", sans-serif;
    margin-top: 10px;
    margin-right: 5px;
    padding: 12px;
    background-color: var(--darkgreen);
    color: white;
    border: 2px solid #2a411c;
    font-size: 30px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 15px;
  }


@media (max-width: 768px) {
  .create-account-box {
    width: 90%;
    padding: 20px;
  }

  h2 {
    font-size: 50px;
    margin-bottom: -10px;
  }

}
