@import 'variables.css';

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--purple);
  color: #e7f5eb;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 20px;
  z-index: 1000; 
  height: 60px; 
}

.hamburger {
  padding-top: 12px;
  font-size: 30px;
  cursor: pointer;
}

.logo-container {
  text-align: center;
  display: flex;
  justify-content: center; 
  align-items: center;
  position: relative;
}

.header-logo {
  height: 40px; 
  width: auto; 
  transition: all 0.3s ease; 
  padding-left: 65px;
}


.sideMenu {
  position: fixed;
  top: 0;
  left: -250px; 
  width: 250px;
  height: 100%;
  background-color: var(--purple);
  transition: left 0.3s ease; 
  z-index: 999; 
  padding-top: 60px;
}

.sideMenu.open {
  left: 0; 
}

.closeIcon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
}

.menuItems {
  font-family: "Dongle", sans-serif;
  font-size: 30px;
  list-style: none;
  padding-left: 0;
}

.menuButton {
  font-family: "Dongle", sans-serif;
  background: none;
  border: none;
  color: #e7f5eb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.menuButton:hover {
  background-color: #cfb9ea;
}

.menuItems li {
  font-family: "Dongle", sans-serif;
  position: relative; 
  padding: 15px 20px;
  border-bottom: 1px solid #e7f5eb;
  cursor: pointer; 
}

.menuItems li a {
  font-family: "Dongle", sans-serif;
  text-decoration: none;
  color: #e7f5eb;
  font-size: 40px;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin-left: 8px;
}

.menuItems li a:hover {
  background-color: #e7f5eb;
}

.dropdown-arrow {
  font-size: 16px;
  transition: transform 0.3s ease;
}

.dropdown-arrow.open {
  transform: rotate(90deg); 
}

.menuItems li .dropdown {
  display: none; 
  list-style: none;
  padding-left: 20px;
  margin: 0; 
}

.menuItems li .dropdown li {
  padding: 10px 20px; 
  border-bottom: none; 
}

.menuItems li .dropdown.open {
  display: block; 
}

.menuItems li .dropdown .stallsDropdown {
  display: none; 
  list-style: none;
  padding-left: 20px; 
}

.menuItems li .dropdown .stallsDropdown.open {
  display: block; 
}

.menuItems li .dropdown .stallsDropdown li {
  padding: 10px 20px;
  border-bottom: none; 
  background-color:#e7f5eb;
  color: var(--darkgreen);
}

.menuItems li .dropdown .stallsDropdown li:hover {
  background-color: var(--darkgreen);
  color: #e7f5eb;
}


.dropdown-arrow {
  font-size: 16px;
  margin-left: auto; 
  transition: transform 0.3s ease;
}

.dropdown-arrow.open {
  transform: rotate(90deg); 
}

.logoutButton-header{
  position: absolute;
  bottom: 20px; 
  right: 20px; 
}

.logoutButton-header-btn{
  font-family: "Dongle", sans-serif;
  display: flex;
  align-items: center;
  background-color: #f44336; 
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 25px;
}

.logoutButton-header-btn svg {
  margin-right: 8px;
}

.logoutButton-header-btn:hover {
  background-color: var(--darkgreen);
  color: #e7f5eb;
}


@media (max-width: 768px) {
  .menuItems li {
    font-size: 18px; 
  }

  .menuItems li .dropdown li {
    font-size: 16px; 
  }
}

