@import 'variables.css';
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Dongle&display=swap');

body{
    background-color: #e7f5eb;
    color: #534757;
    font-family: "Dongle", sans-serif; 
}

.home-title{
    padding-top: 50px;
    text-align: center;
    font-size: 70px;
    margin-bottom: -15px;
}

.curved-box {
    padding: 5px 15px;
    background-color: #534757; 
    color: #e7f5eb;
    margin-bottom: 20px;
    font-weight: bold; 
    text-align: left; 
    border-radius: 25px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    border: 1px solid #ddd; 
    font-size: 1.2rem;
    display: block; /* Ensure it behaves like a block element */
    margin-left: 0; /* Align the box to the left */
    float: left; /* Optional: Floats it left */
}

.home-container {
    text-align: center;
    padding: 20px;
}

.pref-market {
    padding-left: 10px;
    font-size: 2.5rem;
    text-align: left;
}

.example-market{
    padding-top: 55px;
    padding-left: 10px;
    font-size: 4rem;
    text-align: left;
}

.slideshow-container {
    padding-top: 10px;
    width: 80%;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
    border-top: 1px solid #847c86; 
    border-bottom: 1px solid #847c86; 
}

.slideshow-image {
    width: 100%;
    height: auto;
    transition: opacity 1s ease-in-out;
}

.content-container {
    display: flex; 
    align-items: center;
    justify-content: center; 
    gap: 10px; 
    text-align: center; 
}

.crowd-level-title {
    font-size: 2rem; 
    font-weight: bold;
}

.video {
    width: 45px;
    height: auto;
    border: none;
}

.stall-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-width: 100%; 
}

.titles {
    display: flex;
    justify-content: space-between; 
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.8rem; 
    text-align: left; 
    padding: 0 10px;
}

.home-stall-title,
.home-OT-title {
    flex: 1; 
}

.home-OT-title{
    padding-left: 50px;
}

.stall-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.5rem; 
}

.stall-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.stall-name {
    font-size: inherit; 
}

.opening-time {
    font-size: inherit; 
}


.slideshow-container {
    position: relative;
    max-width: 100%;
    width: 600px; 
    margin: auto;
    padding-top: 15px;
}

.slideshow-image {
    width: 100%;
    height: auto;
}

.arrow-left, .arrow-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    color: black;
    background-color: transparent;
    padding: 10px;
    cursor: pointer;
    user-select: none;
}

.arrow-left {
    left: 10px;
}

.arrow-right {
    right: 10px;
}

 