:root {
  --font-color: #555; 
  --background-color: #2b2edf; 
}

body {
  font-family: "Dongle", sans-serif; 
  font-size: 16px; 
  color: var(--font-color);
  background-color: #2b2edf;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.high-contrast {
  --background-color: #000;
  --text-color: #fff;
}

body.high-contrast {
  background-color: var(--background-color);
  color: var(--text-color);
}

@font-face {
  font-family: 'OpenDyslexic';
  src: url('../assets/fonts/OpenDyslexic-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenDyslexic';
  src: url('../assets/fonts/OpenDyslexic-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}


body.dyslexia-friendly, html.dyslexia-friendly {
  font-family: 'OpenDyslexic', Arial, sans-serif !important;
  font-size: 14px; 
  background-color: #ffffe0; 
}


.top-right-buttons {
  position: absolute;
  top: 10px; 
  right: 10px; 
  display: flex; 
  gap: 10px; 
  z-index: 9999; 
}


.icon-button {
  background-color: #e7f5eb; 
  border: none;
  cursor: pointer; 
  font-size: 20px;
  color: #534757; 
  padding: 10px; 
  border-radius: 50%; 
  height: 40px; 
  width: 40px; 
  display: flex; 
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

.icon-button:hover {
  background-color: #007bff; 
  color: #fff; 
}

.icon-button.active {
  background-color: #ff5722; 
  color: #fff; 
}


body.high-contrast .icon-button {
  background-color: #333; 
  color: #fff;
}

body.high-contrast .icon-button.active {
  background-color: #ffcc00; 
}


body.dyslexia-friendly .icon-button {
  background-color: #e8e8e8; 
  color: #333; 
}

body.dyslexia-friendly .icon-button.active {
  background-color: #ff5722; 
  color: #fff;
}
