@import 'variables.css';
.container-stall {
    padding: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  .title-stall {
    font-size: 36px;
    margin-bottom: 10px;
    margin-top: 70px;
  }
  
  .sub-heading-stall {
    font-size: 24px;
    margin-bottom: 20px;
    color: gray;
    text-align: left;
  }
  
  .scroll-container-stall {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 80vh;
    overflow-y: auto; 
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    width: 80%; 
    margin: 0 auto; 
  }
  
  .item-stall {
    font-size: 18px;
    margin: 10px 0;
    padding: 10px;
    background-color:var(--lightgreen);
    border: 4px solid var(--darkgreen);
    border-radius: 4px;
    width: 100%; 
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .item-name-stall {
    font-weight: bold;
  }
  
  .item-amount-stall {
    color: gray;
  }